@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Arial, sans-serif;
}

.calendar-container {
  padding: 10px;
}

@media (max-width: 600px) {
  .calendar-container {
    padding: 5px;
  }

  .modal {
    max-width: 90%;
  }
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0070f3;
  color: white;
}
